
###> symfony/framework-bundle ###
/.env
/.env.dev
/.env.test
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> IDE / Editor ###
/.idea/
/.vscode/
*.iml
*.ipr
*.iws
.nbproject/
*.sublime-project
*.sublime-workspace
###< IDE / Editor ###

###> OS ###
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
###< OS ###

###> Logs & temp ###
*.log
/var/log/
npm-debug.log*
###< Logs & temp ###

###> Node (if added later) ###
node_modules/
###< Node ###
